.react-datepicker-wrapper, .react-datepicker__input-container { display: block !important; }
.react-datepicker-wrapper .react-datepicker__input-container input { width: 100% }

.custom-design {
    box-sizing: padding-box;
}

.custom-icon {
    color: #43e299;
}


